asgiref==3.3.1
Django==3.1.7
django-crispy-forms==1.11.2
django-lifecycle==0.9.1
djangorestframework==3.12.2
flake8==3.8.4
flake8-builtins==1.5.3
flake8-django==1.1.1
flake8-import-order==0.18.1
flake8-print==4.0.0
mccabe==0.6.1
Pillow==8.1.2
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
urlman==1.4.0
